body {
  background-color: #EAEAEA ;
  margin: 0;
  padding: 0;
  font-family: "K2D", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  position: relative;
}

.btn {
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
